.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.photo {
  width: 200px;
  height: 200px;
  float: bottom;
  
}

.description {
  width: 100px;
  height: 100px;
  
}

.content {
  margin: 50px;
  float: right;
  text-align: center;
  
  
}

.button {
  float: top;
  display: block;
  align-items: center;
  justify-content: center;

}