.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.photo {
  width: 100px;
  height: 100px;
  float: top;
}

.description {
  width: 100px;
  height: 100px;
  float: top;
}

.content {
  margin: 10px;
  float: left;
  
  
}